aioredis==2.0.1
anyio==3.5.0
asgiref==3.5.0
async-timeout==4.0.2
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
Deprecated==1.2.13
fastapi==0.75.2
fastapi-cache2==0.1.8
fastapi-utils==0.2.1
greenlet==1.1.2
h11==0.13.0
httptools==0.4.0
idna==3.3
packaging==21.3
pendulum==2.1.2
pydantic==1.9.0
pyparsing==3.0.8
python-dateutil==2.8.2
python-dotenv==0.20.0
pytzdata==2020.1
PyYAML==6.0
redis==4.2.2
requests==2.27.1
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.35
starlette==0.17.1
typing-extensions==4.2.0
urllib3==1.26.9
uvicorn==0.17.6
uvloop==0.16.0
watchgod==0.8.2
websockets==10.3
wrapt==1.14.0
